* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	color: #404040;
	text-align: center;
}

h1 {
	font-size: 2.25rem;
	font-weight: 300;
	color: #fff;
	margin: 0;
}

h1 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1.3125rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	font-size: 1.3125rem;
	margin: 0;
}

h2 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.top-text {
	display: inline;
	font-size: 0.625rem;
	margin: 0;
	padding-top: 2px;
	color: #f18119;
	font-weight: 900;
	text-transform: uppercase;
	order: -1;
	border-top: 5px solid #f18119;
	border-image: linear-gradient(to right, #ffa51d, #ff713b) 1;
	margin: 0 auto;
}

.fine-print {
	font-size: 0.625rem;
	letter-spacing: 1px;
}

strong {
	font-weight: 900;
}

/* INTRO SECTION */

.intro {
	background-color: #404040;
	background-image: url(../images/ribs.jpg);
	background-blend-mode: multiply;
	padding: 0 0.5em 2em;
}

/* MAIN CONTENT */

.main-content {
	padding: 2em 1em;
}

.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 50vh;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container,
.intro-container {
	max-width: 400px;
	margin: 0 auto;
}

/* FORM */

.email-collector {
	border: 3px;
	width: 80%;
	max-width: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin-bottom: 0.75em;
	padding: 0.25em;
	border: 1px solid gray;
	transform: scale(1);
	transition: transform 250ms;
}

input:focus {
	transform: scale(1.1);
}

input,
.btn {
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	font-size: 0.625rem;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}

.btn-primary {
	background: linear-gradient(to right, #ffa51d, #ff713b);
	color: #fff;
	transform: scale(1);
	transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
	transform: scale(1.1);
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
	body {
		font-size: 1.125rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	h1 + p,
	h2 {
		font-size: 1.75rem;
	}

	.container {
		flex-direction: row;
		min-height: 100vh;
		width: 100%;
	}

	/* .intro, .main-content {
		min-height: 100vh;
	} */

	.intro {
		width: 60%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.main-content {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.intro-container {
		height: 100%;
	}
}
