* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	color: #404040;
	text-align: center;
}

h1 {
	font-size: 2.25rem;
	font-weight: 300;
	color: #fff;
	margin: 2em 0;
}

h1 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1.3125rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	font-size: 1.3125rem;
	margin: 0;
}

h2 + p {
	color: #f18119;
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.top-text {
	font-size: 0.625rem;
	font-weight: 900;
	color: #f18119;
	letter-spacing: 1px;

	order: -1;
}

.fine-print {
	font-size: 0.625rem;
	letter-spacing: 1px;
}

strong {
	font-weight: 900;
}

/* INTRO SECTION */

.intro {
	background-color: #404040;
	background-image: url(../images/dark-ribs.jpg);
	padding: 0 0.5em 2em;

	display: flex;
	flex-direction: column;
}

/* MAIN CONTENT */

.main-content {
	padding: 2em 1em;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
	body {
		font-size: 1.125rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	h1 + p, h2 {
		font-size: 1.75rem;
	}

	.top-text {

	}

	.container {
		flex-direction: row;
		min-height: 100vh;
		width: 100%;
	}

	/* .intro, .main-content {
		min-height: 100vh;
	} */

	.intro {
		width: 60%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		justify-content: center;
	}

	.main-content {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
